	/*
  	Flaticon icon font: Flaticon
  	Creation date: 04/04/2019 11:45
  	*/

@font-face {
  font-family: "Flaticon";
  src: url("./Flaticon.eot");
  src: url("./Flaticon.eot?#iefix") format("embedded-opentype"),
       url("./Flaticon.woff2") format("woff2"),
       url("./Flaticon.woff") format("woff"),
       url("./Flaticon.ttf") format("truetype"),
       url("./Flaticon.svg#Flaticon") format("svg");
  font-weight: normal;
  font-style: normal;
}

@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: "Flaticon";
    src: url("./Flaticon.svg#Flaticon") format("svg");
  }
}

[class^="flaticon-"]:before, [class*=" flaticon-"]:before,
[class^="flaticon-"]:after, [class*=" flaticon-"]:after {   
  font-family: Flaticon;
        font-size: 20px;
font-style: normal;
margin-left: 20px;
}

.flaticon-asset:before { content: "\f100"; }
.flaticon-bank:before { content: "\f101"; }
.flaticon-yield:before { content: "\f102"; }
.flaticon-profit:before { content: "\f103"; }
.flaticon-man:before { content: "\f104"; }
.flaticon-wallet:before { content: "\f105"; }
.flaticon-return:before { content: "\f106"; }
.flaticon-adjust:before { content: "\f107"; }
.flaticon-tax:before { content: "\f108"; }
.flaticon-cost:before { content: "\f109"; }
.flaticon-museum:before { content: "\f10a"; }
.flaticon-money:before { content: "\f10b"; }
.flaticon-plane:before { content: "\f10c"; }
.flaticon-card:before { content: "\f10d"; }
.flaticon-send:before { content: "\f10e"; }
.flaticon-price:before { content: "\f10f"; }
.flaticon-medal:before { content: "\f110"; }
.flaticon-shield:before { content: "\f111"; }
.flaticon-lock:before { content: "\f112"; }
.flaticon-meeting:before { content: "\f113"; }
.flaticon-track:before { content: "\f114"; }
.flaticon-law:before { content: "\f115"; }
.flaticon-law-1:before { content: "\f116"; }