
.dropdown-menu { padding: 10px 0; }
/*Profile page styles*/
.next-step,.next-step1 {
    background: #ffffff;
	outline: 0 !important;
}
.form-control {
    border: solid 1px #e8e8e8;
    box-shadow: none;
    height: 42px;
    border-left: 1px solid #e8e8e8;
}

.btn-success.btn1 {
    color: #fff;
    background-color: #5cb85c;
    border-color: #4cae4c;
}
.btn-success.btn1:hover {
    color: #fff;
    background-color: #47a447;
    border-color: #398439;
}

.btn-primary.btn1 {
    color: #fff;
    background-color: #070023;
    border-radius: 3px;
}
.btn-primary.btn1:hover {
    color: #fff;
    background-color: #000;    
    border-radius: 3px;
}



.property-head.profileBanner {
    padding: 30px 0px;
    background: url('../images/profileBan.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}
input[type="checkbox"]+label:before {

    border: 1px solid #6ba1ff;
}