/*
 * jQuery FlexSlider v2.0
 * http://www.woothemes.com/flexslider/
 *
 * Copyright 2012 WooThemes
 * Free to use under the GPLv2 license.
 * http://www.gnu.org/licenses/gpl-2.0.html
 *
 * Contributing author: Tyler Smith (@mbmufffin)
 */

 
/* Browser Resets */
.flex-container a:active,
.flexslider a:active,
.flex-container a:focus,
.flexslider a:focus  {outline: none;}
.slides,
.flex-control-nav,
.flex-direction-nav {margin: 0; padding: 0; list-style: none;} 

/* FlexSlider Necessary Styles
*********************************/ 
.flexslider {margin: 0; padding: 0;}
.flexslider .slides > li {display: none; -webkit-backface-visibility: hidden;} /* Hide the slides before the JS is loaded. Avoids image jumping */
.flexslider .slides img {width: 100%; display: block;}
.flex-pauseplay span {text-transform: capitalize;}

/* Clearfix for the .slides element */
.slides:after {content: "."; display: block; clear: both; visibility: hidden; line-height: 0; height: 0;} 
html[xmlns] .slides {display: block;} 
* html .slides {height: 1%;}

/* No JavaScript Fallback */
/* If you are not using another script, such as Modernizr, make sure you
 * include js that eliminates this class on page load */
.no-js .slides > li:first-child {display: block;}


/* FlexSlider Default Theme
*********************************/
.flexslider {margin: 0px; position: relative;zoom: 1;z-index:900;}
.flex-viewport {max-height: 2000px; -webkit-transition: all 1s ease; -moz-transition: all 1s ease; transition: all 1s ease;}
.loading .flex-viewport {max-height: 300px;}
.flexslider .slides {zoom: 1;}

.carousel li {margin-right: 5px}

.flexslider li p {
    color: #f1f1f1;
    text-align: center;
    font-size: 13px;
    font-weight: 400;
line-height:22px;
width: 65%;
margin: 20px auto 70px;
}

.sign {
font-weight:700;
font-size:20px;
text-transform:uppercase;
color:#222222f5;
text-align:center;
}

.sign span {
font-weight:600;
font-size:14px;
display:block;
}

/* Direction Nav */
.flex-direction-nav {*height: 0;}
.flex-direction-nav a {width: 16px; height: 27px; margin: -20px 0 0; display: block; background: #ff0000; position: absolute; top: 135px; z-index: 10; cursor: pointer; text-indent: -9999px; -webkit-transition: all .3s ease;}
.flex-direction-nav .flex-next {background:url(../images/next.png); right: 30%; opacity: 0.5;}
.flex-direction-nav .flex-prev {background:url(../images/prev.png);left: 30%; opacity: 0.5;}

.flexslider:hover .flex-next:hover, .flexslider:hover .flex-prev:hover {opacity: 1;}
.flex-direction-nav .flex-disabled {opacity: .3!important; filter:alpha(opacity=30); cursor: default;}

/* Control Nav */
/*.flex-control-nav {position: absolute; bottom: -40px; left:0px;right:0px;text-align: center;}
.flex-control-nav li {margin: 0 6px; display: inline-block; zoom: 1; *display: inline;}
.flex-control-paging li a {width: 11px; height: 11px; display: block; background: #666; background: rgba(0,0,0,0.5); cursor: pointer; text-indent: -9999px; -webkit-border-radius: 20px; -moz-border-radius: 20px; -o-border-radius: 20px; border-radius: 20px; box-shadow: inset 0 0 3px rgba(0,0,0,0.3);}
.flex-control-paging li a:hover { background: #333; background: rgba(0,0,0,0.7); }
.flex-control-paging li a.flex-active { background: #000; background: rgba(0,0,0,0.9); cursor: default; }
*/
/*.flex-control-thumbs {margin: 0px auto; position: static; overflow: hidden;display:table;width:100%;}
.flex-control-thumbs li {width: 20%;margin: 0 5px;overflow:hidden;position:relative;z-index:900;}
.flex-control-thumbs img {max-width: 100%; display: table; margin:0 auto;cursor: pointer;opacity:0.5;  	}
.flex-control-thumbs img:hover {opacity: 1; 	filter: none;
	cursor:pointer;}
.flex-control-thumbs .flex-active {opacity: 1; cursor: default; 	filter: none;
	cursor:pointer;}*/
ol.flex-control-nav.flex-control-thumbs {
    display: none;
}
@media screen and (max-width: 860px) {
  .flex-direction-nav .flex-prev {opacity: 1; left: 0;}
  .flex-direction-nav .flex-next {opacity: 1; right: 0;}
}