/* ================== */
/* START OF RADIANTTHEMES PROMOBAR */
/* ================== */

/* wraper-radiantthems-promobar */

.wraper-radiantthems-promobar{
	 position:fixed;
	 top:0;
	 z-index:9999;
	 width:100%;
	 background-color:#232323;
}

.wraper-radiantthems-promobar > .container-fluid{
	 padding-top:8px;
	 padding-bottom:8px;
}

.radiantthems-promobar{
}

.radiantthems-promobar-item{
}

.envato-brand-logo{
	 display:inline-block;
	 vertical-align:top;
	 margin-top:9px;
	 margin-right:20px;
}

.envato-brand-logo > a{
	 display:inline-block;
	 vertical-align:top;
	 width:170px;
	 height:25px;
	 background:url('https://public-assets.envato-static.com/assets/logos/envato_market-6eed4f715209e46c7454f26f3f25f7560d9d94713c11a5717436cd18642fb0a0.svg') 0px 0px no-repeat;
	 background-size:100% auto;
}

.radiantthems-themelist-dropdown{
	 display:inline-block;
	 vertical-align:top;
}

.radiantthems-themelist-dropdown > .dropdown{
	 display:inline-block;
	 vertical-align:top;
}

.radiantthems-themelist-dropdown > .dropdown > .btn{
	 position:relative;
	 display:block;
	 width:200px;
	 padding:7px 30px 7px 10px;
	 background-color:initial;
	 border:1px #4f4f4f solid;
	 border-radius:5px;
	 text-align:left;
	 font-weight:400;
	 font-size:15px;
	 color:#fff;
	 line-height:25px;
}

.radiantthems-themelist-dropdown > .dropdown > .btn > span{
	 float:left;
}

.radiantthems-themelist-dropdown > .dropdown > .btn > small{
	 float:right;
	 opacity:0.85;
	 font-size:77%;
}

.radiantthems-themelist-dropdown > .dropdown > .btn > i{
	 position:absolute;
	 top:50%;
	 right:10px;
	 z-index:1;
	 transform:translateY(-50%);
	 -webkit-transform:translateY(-50%);
}

.radiantthems-themelist-dropdown > .dropdown > ul.dropdown-menu{
	min-width:100%;
	padding:0;
	background-color:initial;
	border:none;
	box-shadow:0px 6px 12px rgba(0,0,0,0.5);
}

.radiantthems-themelist-dropdown > .dropdown > ul.dropdown-menu > li > a{
	 position:relative;
	 padding:7px 10px 9px 10px;
	 background-color:#232323;
	 border-bottom:1px #4f4f4f solid;
	 text-align:left;
	 font-weight:400;
	 font-size:14px;
	 color:#fff;
	 line-height:25px;
}

.radiantthems-themelist-dropdown > .dropdown > ul.dropdown-menu > li:last-child > a,
.radiantthems-themelist-dropdown > .dropdown > ul.dropdown-menu > li:only-child > a{
	 border-bottom:none;
}

.radiantthems-themelist-dropdown > .dropdown > ul.dropdown-menu > li > a > span{
	 float:left;
}

.radiantthems-themelist-dropdown > .dropdown > ul.dropdown-menu > li > a > small{
	 float:right;
	 opacity:0.85;
	 font-size:77%;
}

.radiantthems-themelist-dropdown > .dropdown > ul.dropdown-menu > li > a > .radiantthems-themelist-dropdown-preview{
	 position:absolute;
	 top:0;
	 left:calc(100% + 5px);
	 z-index:1;
	 width:300px;
	 height:152px;
	 background:0px 0px no-repeat;
	 background-size:100% auto;
	 box-shadow:0px 6px 12px rgba(0,0,0,0.5);
	 opacity:0;
	 visibility:hidden;
	 transform:translateY(20px);
	 -webkit-transform:translateY(20px);
	 transition:all 0.3s ease-in-out;
	 -webkit-transition:all 0.3s ease-in-out;
}

.radiantthems-themelist-dropdown > .dropdown > ul.dropdown-menu > li > a:hover > .radiantthems-themelist-dropdown-preview{
	 opacity:1;
	 visibility:visible;
	 transform:translateY(0);
	 -webkit-transform:translateY(0);
}

.envato-purchase-button{
	 display:inline-block;
	 vertical-align:top;
}

.envato-purchase-button > .btn{
	 display:inline-block;
	 vertical-align:top;
	 padding:6px 20px 5px 20px;
	 background-color:#7aa93c;
	 border:none;
	 box-shadow: 0 2px 0 #6f9a37;
	 border-radius:3px;
	 font-weight:400;
	 font-size:15px;
	 color:#fff;
	 line-height:25px;
}

.radiantthems-promobar-close{
	 display:inline-block;
	 vertical-align:top;
	 margin-left:10px;
}

.radiantthems-promobar-close > .btn{
	 padding:15px 0px 16px 0px;
	 background-color:initial;
	 border:none;
	 border-radius:0;
	 font-weight:400;
	 font-size:14px;
	 color:#fff;
	 line-height:25px;
}

.radiantthems-promobar-close > .btn > i{
	 margin-right:6px;
}

/* LARGE DESKTOP PART */
@media screen and (min-width:1200px){
}

/* DESKTOP PART */
@media screen and (min-width:992px) and (max-width:1199px){

	/* RADIANTTHEMES PROMOBAR */

	 /* wraper-radiantthems-promobar */

	 .envato-brand-logo{
		  margin-top:13px;
	 }

	 .envato-brand-logo > a{
		  width:100px;
		  height:20px;
	 }

}

/* TABLET LANDSCAPE PART */
@media screen and (min-width:768px) and (max-width:991px){

	body{
		top:0;
	}

	/* RADIANTTHEMES PROMOBAR */

	/* wraper-radiantthems-promobar */

	.envato-brand-logo{
		margin-top:22px;
	}

	.envato-brand-logo > a{
		width:100px;
		height:20px;
	}

	.radiantthems-themelist-dropdown > .dropdown > .btn{
		width:172px;
	}

}

/* TABLET PROTRAIT PART */
@media screen and (min-width:480px) and (max-width:767px){

	 body{
		top:0;
	 }

	 /* RADIANTTHEMES PROMOBAR */

	 /* wraper-radiantthems-promobar */

	 .wraper-radiantthems-promobar{
		  position:absolute;
	 }

	 .radiantthems-promobar-item{
		  text-align:center;
	 }

	 .envato-brand-logo{
		  width:100%;
		  margin-right:0;
	 }

	 .radiantthems-themelist-dropdown{
		  width:100%;
		  margin-right:0;
	 }

	 .envato-purchase-button{
		  width:100%;
		  margin-bottom:12px;
	 }

}

/* SMART PHONE LANDSCAPE PART */
@media screen and (min-width:321px) and (max-width:479px){

	 body{
		top:0;
	 }

	 /* RADIANTTHEMES PROMOBAR */

	 /* wraper-radiantthems-promobar */

	 .wraper-radiantthems-promobar{
		  position:absolute;
	 }

	 .radiantthems-promobar-item{
		  text-align:center;
	 }

	 .envato-brand-logo{
		  width:100%;
		  margin-right:0;
	 }

	 .radiantthems-themelist-dropdown{
		  width:100%;
		  margin-right:0;
	 }

	 .envato-purchase-button{
		  width:100%;
		  margin-bottom:12px;
	 }

}

/* SMART PHONE PROTRAIT PART */
@media screen and (max-width:320px){

	 body{
		top:0;
	 }

	 /* RADIANTTHEMES PROMOBAR */

	 /* wraper-radiantthems-promobar */

	 .wraper-radiantthems-promobar{
		  position:absolute;
	 }

	 .radiantthems-promobar-item{
		  text-align:center;
	 }

	 .envato-brand-logo{
		  width:100%;
		  margin-right:0;
	 }

	 .radiantthems-themelist-dropdown{
		  width:100%;
		  margin-right:0;
	 }

	 .envato-purchase-button{
		  width:100%;
		  margin-bottom:12px;
	 }

}

/* ================== */
/* START OF RADIANTTHEMES PROMOBAR */
/* ================== */

/* ================== */
/* START OF LANDING PAGE */
/* ================== */

.landing-demo-item-box{
}

.landing-demo-item-box-new{
    position:absolute;
    top:-15px;
    right:0;
}

.landing-customize-image{
    width:767px;
    float:right;
}

.landing-blogging-image{
    width:917px;
}

.landing-feature-box-item > .vc_column-inner{
    box-shadow:0px 0px 8px rgba(0,0,0,0.15);
    transition:all 0.3s ease-in-out;
    -webkit-transition:all 0.3s ease-in-out;
}

.landing-feature-box-item > .vc_column-inner:hover{
    box-shadow:0px 0px 30px rgba(0,0,0,0.15);
}

/* LARGE DESKTOP PART */
@media screen and (min-width:1200px){
}

/* DESKTOP PART */
@media screen and (min-width:992px) and (max-width:1199px){
}

/* TABLET LANDSCAPE PART */
@media screen and (min-width:768px) and (max-width:991px){
}

/* TABLET PROTRAIT PART */
@media screen and (min-width:480px) and (max-width:767px){

    .landing-customize-image,
    .landing-blogging-image{
        width:100%;
    }

}

/* SMART PHONE LANDSCAPE PART */
@media screen and (min-width:321px) and (max-width:479px){

    .landing-customize-image,
    .landing-blogging-image{
        width:100%;
    }

}

/* SMART PHONE PROTRAIT PART */
@media screen and (max-width:320px){

    .landing-customize-image,
    .landing-blogging-image{
        width:100%;
    }

}

/* ================== */
/* END OF LANDING PAGE */
/* ================== */

/* ================== */
/* START OF MEGA MENU */
/* ================== */

.home-megamenu .rt-megamenu-widget-title{
    display:none;
}

.home-megamenu .rt-mega-menu > ul.rt-mega-menu-row{
    display:block;
    float:left;
}

.home-megamenu .rt-mega-menu > ul.rt-mega-menu-row:nth-child(1){
    width:66.64%;
}

.home-megamenu .rt-mega-menu > ul.rt-mega-menu-row:nth-child(2){
    width:33.36%;
}

.home-megamenu .rt-mega-menu > ul > .menu-item{
    padding-top:25px;
    padding-bottom:10px;
    border-bottom:1px rgba(0,0,0,0.06) solid;
    text-align:center;
}

.home-megamenu-item{
    display:block;
    margin-bottom:20px;
    text-align:center;
}

.home-megamenu-item img{
    box-shadow:0px 3px 10px rgba(0,0,0,0.1);
    transition:all 0.3s ease-in-out;
    -webkit-transition:all 0.3s ease-in-out;
}

.home-megamenu-item:hover img{
    transform:translateY(-10px);
    -webkit-transform:translateY(-10px);
    box-shadow:0px 10px 20px rgba(0,0,0,0.15);
}
/*=====================================*/
.home-megamenu-new .rt-megamenu-widget-title{
    display:none;
}

.home-megamenu-new .rt-mega-menu > ul.rt-mega-menu-row{
    display:block;
    float:left;
}
.home-megamenu-new .rt-mega-menu > ul.rt-mega-menu-row:nth-child(1){
    width:80%;
}

.home-megamenu-new .rt-mega-menu > ul.rt-mega-menu-row:nth-child(2){
    width:20%;
}

.home-megamenu-new .rt-mega-menu > ul > .menu-item{
    padding-top:25px;
    padding-bottom:10px;
    border-bottom:1px rgba(0,0,0,0.06) solid;
    text-align:center;
}

.home-megamenu-item{
    display:block;
    margin-bottom:20px;
    text-align:center;
}

.home-megamenu-item img{
    box-shadow:0px 3px 10px rgba(0,0,0,0.1);
    transition:all 0.3s ease-in-out;
    -webkit-transition:all 0.3s ease-in-out;
}

.home-megamenu-item:hover img{
    transform:translateY(-10px);
    -webkit-transform:translateY(-10px);
    box-shadow:0px 10px 20px rgba(0,0,0,0.15);
}

.services-megamenu > .rt-mega-menu{
    background-image:url('../../../uploads/2018/07/Megamenu-Background-Image.png');
    background-position:right bottom;
    background-repeat:no-repeat;
}

.services-megamenu > .rt-mega-menu > .rt-mega-menu-row > .menu-item:nth-child(2) .rt-megamenu-widget-title:before,
.services-megamenu > .rt-mega-menu > .rt-mega-menu-row > .menu-item:nth-child(4) .rt-megamenu-widget-title:before{
    display:none;
}

/* DESKTOP PART */
@media screen and (min-width:992px) and (max-width:1199px){
}

/* TABLET LANDSCAPE PART */
@media screen and (min-width:768px) and (max-width:991px){

    .home-megamenu-new:after{
        content:" ";
        display:block;
        clear:both;
    }
    .home-megamenu-new .rt-mega-menu > ul.rt-mega-menu-row:nth-child(1){
         width:80%;
    }
    .home-megamenu-new .rt-mega-menu > ul.rt-mega-menu-row:nth-child(1) > .menu-item {
    display: inline-block;
    width: 25%;
}
    .home-megamenu-new .rt-mega-menu > ul.rt-mega-menu-row:nth-child(2){
       width:20%;
    }
 .home-megamenu-new .rt-mega-menu > ul.rt-mega-menu-row:nth-child(2) > .menu-item {
    display: inline-block;
    width: 100%;
}
}

/* TABLET PROTRAIT PART */
@media screen and (min-width:480px) and (max-width:767px){

    .home-megamenu-new:after{
        content:" ";
        display:block;
        clear:both;
    }

    .home-megamenu-new .rt-mega-menu > ul.rt-mega-menu-row:nth-child(1),
    .home-megamenu-new .rt-mega-menu > ul.rt-mega-menu-row:nth-child(2){
        width:50%;
    }

}

/* SMART PHONE LANDSCAPE PART */
@media screen and (min-width:321px) and (max-width:479px){

    .home-megamenu-new:after{
        content:" ";
        display:block;
        clear:both;
    }

    .home-megamenu-new .rt-mega-menu > ul.rt-mega-menu-row:nth-child(1),
    .home-megamenu-new .rt-mega-menu > ul.rt-mega-menu-row:nth-child(2){
        width:100%;
    }

}

/* SMART PHONE PROTRAIT PART */
@media screen and (max-width:320px){

    .home-megamenu-new:after{
        content:" ";
        display:block;
        clear:both;
    }

    .home-megamenu-new .rt-mega-menu > ul.rt-mega-menu-row:nth-child(1),
    .home-megamenu-new .rt-mega-menu > ul.rt-mega-menu-row:nth-child(2){
        width:100%;
    }

}

/* ================== */
/* END OF MEGA MENU */
/* ================== */

/* ================== */
/* START OF HOME PAGE 2 */
/* ================== */

.radiant-contact-form.home-2-seo-checker-form .wpcf7-submit{
    width:100%;
}
.slide-up-hover-effect{
    transition: all .3s ease-in-out;
    -webkit-transition: all .3s ease-in-out;
}

.slide-up-hover-effect:hover{
    transform: translate3d(0, -10px, 0);
    transition: all .3s ease-in-out;
    -webkit-transition: all .3s ease-in-out;
}

/* ================== */
/* END OF HOME PAGE 2 */
/* ================== */

/* ================== */
/* START OF HOME PAGE 3 */
/* ================== */

.home-3-banner-image{
    width:720px;
    float:right;
    margin-right:-35px;
}

.home-3-seo-feature-image-2{
    width:600px;
    float:right;
    margin-right:-20px;
}

/* LARGE DESKTOP PART */
@media screen and (min-width:1200px){
}

/* DESKTOP PART */
@media screen and (min-width:992px) and (max-width:1199px){
}

/* TABLET LANDSCAPE PART */
@media screen and (min-width:768px) and (max-width:991px){
}

/* TABLET PROTRAIT PART */
@media screen and (min-width:480px) and (max-width:767px){

    .home-3-banner-image,
    .home-3-seo-feature-image-2{
        width:100%;
        margin-right:0;
    }

}

/* SMART PHONE LANDSCAPE PART */
@media screen and (min-width:321px) and (max-width:479px){

    .home-3-seo-feature-image-2{
        width:100%;
        margin-right:0;
    }

}

/* SMART PHONE PROTRAIT PART */
@media screen and (max-width:320px){

    .home-3-seo-feature-image-2{
        width:100%;
        margin-right:0;
    }

}

/* ================== */
/* END OF HOME PAGE 3 */
/* ================== */

/* ================== */
/* START OF HOME PAGE 4 */
/* ================== */

.home-4-audit-image{
    width:1000px;
}

/* LARGE DESKTOP PART */
@media screen and (min-width:1200px){
}

/* DESKTOP PART */
@media screen and (min-width:992px) and (max-width:1199px){
}

/* TABLET LANDSCAPE PART */
@media screen and (min-width:768px) and (max-width:991px){
}

/* TABLET PROTRAIT PART */
@media screen and (min-width:480px) and (max-width:767px){

    .home-4-audit-image{
        width:100%;
    }

}

/* SMART PHONE LANDSCAPE PART */
@media screen and (min-width:321px) and (max-width:479px){

    .home-4-audit-image{
        width:100%;
    }

}

/* SMART PHONE PROTRAIT PART */
@media screen and (max-width:320px){

    .home-4-audit-image{
        width:100%;
    }

}

/* ================== */
/* END OF HOME PAGE 4 */
/* ================== */

/* ================== */
/* START OF HOME PAGE 5 */
/* ================== */

.newsletter-form{
    position:relative;
    width:100%;
    max-width:575px;
    margin:0 auto;
}

.newsletter-form .form-row{
}

.newsletter-form .form-row input[type=email]{
    width:100%;
    height:52px;
    padding:0px 180px 0px 18px;
    background-color:#fff;
    border:none;
    border-radius:35px;
    font-weight:400;
    font-size:15px;
    color:#212d31;
    line-height:26px;
}

.newsletter-form .form-row input[type=button]{
    position:absolute;
    top:0;
    right:0;
    z-index:1;
    height:52px;
    padding:11px 35px 11px 35px;
    background-color:#25c16f;
    border:none;
    border-radius:35px;
    font-weight:500;
    font-size:15px;
    color:#fff;
    line-height:26px;
    cursor:pointer;
}

/* ================== */
/* END OF HOME PAGE 5 */
/* ================== */

/* ================== */
/* START OF HOME PAGE 6 */
/* ================== */

div .background-position-center{
	background-position: bottom !important;
}
div .background-position-left{
	background-position: left !important;
}
.home-six-pricing-table-img1{
    position:absolute;
    z-index:1;
    left: 59%;
    right: 15px;
}
.home-six-pricing-table-img2{
    position:absolute;
    z-index:1;
    right: 25px;
    top: 10px;
}

.seo-report-form{
    position:relative;
    width:100%;
    margin:0 auto;
}

.seo-report-form .form-row{
    background-color: #fff;
    padding: 13px 120px 13px 20px;
    border-radius: 35px;
    margin-right: 50px;
}

.seo-report-form .form-row .WebsiteURL input[type=url],
.seo-report-form .form-row .Email input[type=email]{
    width: 50% !important;
    float: left;
    height: 36px;
    background-color: #fff !important;
    border: none;
    border-right: 1px solid #d6d7d8 !important;
    border-radius: 0 !important;
    font-weight: 400;
    font-size: 15px;
    color: #212d31 !important;
    line-height: 26px;
    padding-left: 25px !important;
}

.seo-report-form .form-row input[type=submit]{
    position: absolute !important;
    top: 0;
    right: 0;
    z-index: 1;
    height: 62px;
    padding: 11px 35px 11px 35px !important;
    background-color: #0641b7 !important;
    border: none;
    border-radius: 0 35px 35px 0 !important;
    font-weight: 500 !important;
    font-size: 15px !important;
    color: #fff !important;
    line-height: 26px !important;
    cursor: pointer !important;
}
span.wpcf7-not-valid-tip{
    display:none !important;
}

.wpcf7-response-output.wpcf7-validation-errors{
    text-align:center;
    border-radius:35px;
}

/* LARGE DESKTOP PART */
@media screen and (min-width:1200px){
}

/* DESKTOP PART */
@media screen and (min-width:992px) and (max-width:1199px){
}

/* TABLET LANDSCAPE PART */
@media screen and (min-width:768px) and (max-width:991px){
}

/* TABLET PROTRAIT PART */
@media screen and (min-width:480px) and (max-width:767px){
}

/* SMART PHONE LANDSCAPE PART */
@media screen and (min-width:321px) and (max-width:479px){
.seo-report-form{
    position:relative;
    width:100%;
    max-width:100%;
    margin:0 auto;
}

.seo-report-form .form-row{
    background-color:rgba(255,255,255,0.0) !important;
    padding: 0 !important;
    border-radius: 0 !important;
    margin-right:0 !important;
}

.seo-report-form .form-row .WebsiteURL input[type=url],
.seo-report-form .form-row .Email input[type=email]{
    width:100% !important;
    height: 48px;
    border:none;
    border-bottom:1px solid #d6d7d8 !important;
    margin-bottom:15px !important;
    border-radius:30px !important;
}



.seo-report-form .form-row input[type=submit]{
    position:relative !important;
    top:0;
    right:0;
    height: 46px;
    border-radius: 35px !important;
    padding: 11px 26px 11px 26px !important;
    text-align:center !important;
    margin: auto !important;
    display: block !important;
}

}

/* SMART PHONE PROTRAIT PART */
@media screen and (max-width:320px){
.seo-report-form{
    position:relative;
    width:100%;
    max-width:100%;
    margin:0 auto;
    }

.seo-report-form .form-row{
    background-color:rgba(255,255,255,0.0) !important;
    padding:0 !important;
    border-radius:0 !important;
    margin-right:0 !important;
    }

.seo-report-form .form-row .WebsiteURL input[type=url],
.seo-report-form .form-row .Email input[type=email]{
    width:100% !important;
    height: 48px;
    border:none !important;
    border-bottom:1px solid #d6d7d8 !important;
    margin-bottom:15px !important;

    }



.seo-report-form .form-row input[type=submit]{
    position:relative !important;
    top:0;
    right:0;
    height: 46px !important;
    border-radius:35px !important;
    padding: 11px 26px 11px 26px !important;
    text-align:center !important;
    margin: auto !important;
    display: block !important;
    }

}
/* ================== */
/* END OF HOME PAGE 6 */
/* ================== */

/* ================== */
/* START OF HOME PAGE 7 */
/* ================== */

.home-7-stand-box-item > .vc_column-inner{
	box-shadow:0px 0px 25px rgba(0,0,0,0.1);
	transition:all 0.3s ease-in-out;
}

.home-7-stand-box-item > .vc_column-inner:hover{
    transform:translateY(-10px);
	box-shadow:0px 0px 35px rgba(0,0,0,0.15);
}

.home-7-seo-checker-form.radiant-contact-form{
	box-shadow:0px 0px 25px rgba(0,0,0,0.15);
}

.home-7-seo-checker-form.radiant-contact-form .form-row{
	margin-left:0;
    margin-right:0;
    margin-bottom:0;
}

.home-7-seo-checker-form.radiant-contact-form .form-row input[type=url],
.home-7-seo-checker-form.radiant-contact-form .form-row input[type=email],
.home-7-seo-checker-form.radiant-contact-form .form-row input[type=submit]{
	width:100%;
	height:60px;
}

.home-7-seo-checker-form.radiant-contact-form .form-row input[type=email]{
	border-right:none;
}

/* ================== */
/* END OF HOME PAGE 7 */
/* ================== */



/* ================== */
/* START OF CONTACT PAGE 3 */
/* ================== */

.contact-page-3-contact-info-box > .vc_column-inner{
    box-shadow:0px 0px 15px rgba(0,0,0,0.15);
}

/* ================== */
/* END OF CONTACT PAGE 3 */
/* ================== */

/* ================== */
/* START OF SEO ANALYSIS PAGE */
/* ================== */

.seo-analysis-welcome-box{
    box-shadow:0px 0px 25px rgba(0,0,0,0.1);
}

/* ================== */
/* END OF SEO ANALYSIS PAGE */
/* ================== */

/* ================== */
/* START OF CASE STUDIES SINGLE PAGE */
/* ================== */

.case-studies-single-main-image{
    width:580px;
    float:right;
}

.case-studies-single-boosting-image{
    width:580px;
}

.case-studies-single-report-image{
    transition:all 0.3s ease-in-out;
    -webkit-transition:all 0.3s ease-in-out;
}

.case-studies-single-report-image:hover{
    box-shadow:0px 0px 25px rgba(0,0,0,0.15);
}

/* LARGE DESKTOP PART */
@media screen and (min-width:1200px){
}

/* DESKTOP PART */
@media screen and (min-width:992px) and (max-width:1199px){
}

/* TABLET LANDSCAPE PART */
@media screen and (min-width:768px) and (max-width:991px){
}

/* TABLET PROTRAIT PART */
@media screen and (min-width:480px) and (max-width:767px){

    .case-studies-single-main-image,
    .case-studies-single-boosting-image{
        width:100%;
    }

}

/* SMART PHONE LANDSCAPE PART */
@media screen and (min-width:321px) and (max-width:479px){

    .case-studies-single-main-image,
    .case-studies-single-boosting-image{
        width:100%;
    }

}

/* SMART PHONE PROTRAIT PART */
@media screen and (max-width:320px){

    .case-studies-single-main-image,
    .case-studies-single-boosting-image{
        width:100%;
    }

}

/* ================== */
/* END OF CASE STUDIES SINGLE PAGE */
/* ================== */

/* ================== */
/* START OF PRICING PLANS PAGE */
/* ================== */

.seo-pricing-plans-table{
    padding-top:10px;
    padding-bottom:10px;
    border:none;
}

.seo-pricing-plans-table > .table > thead > tr > th{
    padding:4px 15px 5px 15px;
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#ebebeb+0,e2e2e2+100 */
    background: rgb(235,235,235); /* Old browsers */
    background: -moz-linear-gradient(top, rgba(235,235,235,1) 0%, rgba(226,226,226,1) 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top, rgba(235,235,235,1) 0%,rgba(226,226,226,1) 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom, rgba(235,235,235,1) 0%,rgba(226,226,226,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ebebeb', endColorstr='#e2e2e2',GradientType=0 ); /* IE6-9 */
    border-top:2px #e0e0e0 solid !important;
    border-bottom:none;
    vertical-align:middle;
    overflow:hidden;
    text-align:center;
    font-family:"Poppins";
    font-weight:500;
    font-size:15px;
    color:#13110e;
    line-height:26px;
    letter-spacing:-0.3px;
}

.seo-pricing-plans-table > .table > thead > tr > th:first-child{
    text-align:left;
    border-left:2px #e0e0e0 solid;
}

.seo-pricing-plans-table > .table > thead > tr > th:last-child{
    border-right:2px #e0e0e0 solid;
}

.seo-pricing-plans-table > .table > thead > tr > th.highlight{
    position:relative;
    padding-top:2px;
    padding-bottom:11px;
    background-color:#ef8100;
    background-image:initial;
    overflow:visible;
    color:#fff;
}

.seo-pricing-plans-table > .table > thead > tr > th.highlight:before{
    position:absolute;
    bottom:100%;
    left:0;
    right:0;
    z-index:1;
    content:" ";
    height:10px;
    background-color:#ef8100;
    border-radius:10px 10px 0px 0px;
}

.seo-pricing-plans-table > .table > thead > tr > th strong{
    display:block;
    margin-bottom:-3px;
    text-transform:uppercase;
    font-weight:600;
    font-size:18px;
}

.seo-pricing-plans-table > .table > tbody > tr:nth-of-type(odd){
    background-color:#fff;
}

.seo-pricing-plans-table > .table > tbody > tr:nth-of-type(even){
    background-color:#efefef;
}

.seo-pricing-plans-table > .table > tbody > tr > td{
    padding:15px 15px 17px 15px;
    border-top:none;
    border-right:1px #d2d2d2 solid;
    text-align:center;
    font-family:"Poppins";
    font-weight:500;
    font-size:13px;
    color:#13110e;
    line-height:25px;
    letter-spacing:-0.3px;
}

.seo-pricing-plans-table > .table > tbody > tr > td:first-child{
    text-align:left;
    border-left:2px #e0e0e0 solid;
}

.seo-pricing-plans-table > .table > tbody > tr > td:last-child{
    border-right:2px #e0e0e0 solid;
}

.seo-pricing-plans-table > .table > tbody > tr > td.highlight{
    border-right:none;
}

.seo-pricing-plans-table > .table > tbody > tr:nth-of-type(odd) > td.highlight{
    background-color:#fffde4;
}

.seo-pricing-plans-table > .table > tbody > tr:nth-of-type(even) > td.highlight{
    background-color:#fef3d8;
}

.seo-pricing-plans-table > .table > tbody > tr > td.highlight{
    position:relative;
}

.seo-pricing-plans-table > .table > tbody > tr > td.highlight:before,
.seo-pricing-plans-table > .table > tbody > tr > td.highlight:after{
    position:absolute;
    top:0;
    bottom:0;
    z-index:1;
    content:" ";
    width:2px;
    background-color:#ef8100;
}

.seo-pricing-plans-table > .table > tbody > tr > td.highlight:before{
    left:-1px;
}

.seo-pricing-plans-table > .table > tbody > tr > td.highlight:after{
   right:0;
}

.seo-pricing-plans-table > .table > tbody > tr > td.section-heading{
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#ebebeb+0,e2e2e2+100 */
    background: rgb(235,235,235); /* Old browsers */
    background: -moz-linear-gradient(top, rgba(235,235,235,1) 0%, rgba(226,226,226,1) 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top, rgba(235,235,235,1) 0%,rgba(226,226,226,1) 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom, rgba(235,235,235,1) 0%,rgba(226,226,226,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ebebeb', endColorstr='#e2e2e2',GradientType=0 ); /* IE6-9 */
    font-weight:600;
    font-size:15px;
    color:#13110e;
    line-height:26px;
}

.seo-pricing-plans-table > .table > tbody > tr > td strong{
    font-weight:inherit;
    color:#f92c04;
}

.seo-pricing-plans-table > .table > tfoot > tr > td{
    vertical-align:middle;
    padding:17px 15px 17px 15px;
    border-right:1px #d2d2d2 solid;
    border-bottom:2px #e0e0e0 solid;
    text-align:center;
}

.seo-pricing-plans-table > .table > tfoot > tr > td:first-child{
    border-left:2px #e0e0e0 solid;
}

.seo-pricing-plans-table > .table > tfoot > tr > td:last-child{
    border-right:2px #e0e0e0 solid;
}

.seo-pricing-plans-table > .table > tfoot > tr > td.highlight{
    position:relative;
    padding-top:9px;
    padding-bottom:0;
    background-color:#ef8100;
}

.seo-pricing-plans-table > .table > tfoot > tr > td.highlight:before,
.seo-pricing-plans-table > .table > tfoot > tr > td.highlight:after{
    position:absolute;
    left:0;
    right:0;
    z-index:1;
    content:" ";
    background-color:#ef8100;
}

.seo-pricing-plans-table > .table > tfoot > tr > td.highlight:before{
    bottom:100%;
    height:1px;
}

.seo-pricing-plans-table > .table > tfoot > tr > td.highlight:after{
    top:100%;
    height:10px;
    border-radius:0px 0px 10px 10px;
}

.seo-pricing-plans-table > .table > tfoot > tr > td .btn{
    position:relative;
    display:inline-block;
    vertical-align:top;
    overflow:hidden;
    border:2px #ef8100 solid;
    border-radius:3px;
    text-transform:uppercase;
    font-family:"Poppins";
    font-weight:500;
    font-size:15px;
    color:#ef8100;
    line-height:26px;
}

.seo-pricing-plans-table > .table > tfoot > tr > td.highlight .btn{
    border-color:#fff;
    color:#fff;
}

.seo-pricing-plans-table > .table > tfoot > tr > td .btn > .first-face,
.seo-pricing-plans-table > .table > tfoot > tr > td .btn > .second-face{
    display:block;
    padding:10px 32px 10px 32px;
    transition:all 0.5s ease-in-out;
    -webkit-transition:all 0.5s ease-in-out;
}

.seo-pricing-plans-table > .table > tfoot > tr > td .btn > .first-face{
    background-color:transparent;
    transform:translateY(0);
    -webkit-transform:translateY(0);
}

.seo-pricing-plans-table > .table > tfoot > tr > td .btn:hover > .first-face{
    transform:translateY(-100%);
    -webkit-transform:translateY(-100%);
}

.seo-pricing-plans-table > .table > tfoot > tr > td .btn > .second-face{
    position:absolute;
    top:0;
    right:0;
    bottom:0;
    left:0;
    z-index:1;
    background-color:#ef8100;
    color:#fff;
    transform:translateY(100%);
    -webkit-transform:translateY(100%);
}

.seo-pricing-plans-table > .table > tfoot > tr > td .btn:hover > .second-face{
    transform:translateY(0);
    -webkit-transform:translateY(0);
}

.seo-pricing-plans-table > .table > tfoot > tr > td.highlight .btn > .second-face{
    background-color:#fff;
    color:#ef8100;
}

/* ================== */
/* END OF PRICING PLANS PAGE */
/* ================== */

/* ================== */
/* START OF HOME VERSION 8 PAGE */
/* ================== */
.web-marketing{
width:765px;
float:right;
margin-right:-70px;
}

div > .home-version-8-contact.radiant-contact-form .form-row {

    margin-left: 0;
    margin-right: 0;
    margin-bottom: 0;

}
div > .home-version-8-contact.radiant-contact-form .form-row input[type="url"], 
div > .home-version-8-contact.radiant-contact-form .form-row input[type="email"], 
div > .home-version-8-contact.radiant-contact-form .form-row input[type="submit"]{
 width: 100%;
height: 60px;
}

div > .home-version-8-contact.radiant-contact-form .form-row input[type="email"]{
	border-left:1px solid #eee;
}
div > .home-version-8-contact.radiant-contact-form .form-row input[type="url"]{
-webkit-border-top-left-radius: 35px;
-webkit-border-bottom-left-radius: 35px;
-moz-border-radius-topleft: 35px;
-moz-border-radius-bottomleft: 35px;
border-top-left-radius: 35px;
border-bottom-left-radius: 35px;
}
div > .home-version-8-contact.radiant-contact-form .form-row input[type="submit"]{
	border-radius: 50px;
	width: 113%;
	margin-left: -17px;
}
.shadow-section .vc_column-inner{
    background:#fff;
	-webkit-box-shadow: 0px 0px 25px rgba(0,0,0,0.10);
	-moz-box-shadow: 0px 0px 25px rgba(0,0,0,0.10);
	box-shadow: 0px 0px 25px rgba(0,0,0,0.10);
}
.mid-part-position {

    position: relative;
    bottom: 45px;

}
/* LARGE DESKTOP PART */
@media screen and (min-width:1200px){
}
/* DESKTOP PART */
@media screen and (min-width:992px) and (max-width:1199px){
div > .home-version-8-contact.radiant-contact-form .form-row input[type="submit"]{
   border-radius: 35px;
   width: 112%;
   margin-left: -12px;
   padding: 0;
}

}
/* TABLET LANDSCAPE PART */
@media screen and (min-width:768px) and (max-width:991px){
	div > .home-version-8-contact.radiant-contact-form .form-row {
	margin-top: 1px;
	margin-right: 5px;
	margin-bottom: 1px;
	margin-left: 5px;
}
div > .home-version-8-contact.radiant-contact-form .form-row input[type="url"], 
div > .home-version-8-contact.radiant-contact-form .form-row input[type="email"], 
div > .home-version-8-contact.radiant-contact-form .form-row input[type="submit"]{
 width: 100%;
height: 60px;
}
div > .home-version-8-contact.radiant-contact-form .form-row input[type="submit"]{
	border-radius: 35px;
	width: 100%;
	margin-left: 0;
}
div > .home-version-8-contact.radiant-contact-form .form-row input[type="email"]{
	border-left:none;
	border-radius: 35px;
}
div > .home-version-8-contact.radiant-contact-form .form-row input[type="url"]{
border-radius: 35px;
}
.web-marketing{
	float: none;
	width: auto;
	margin-right:0;
}
}
/* TABLET PROTRAIT PART */
@media screen and (min-width:480px) and (max-width:767px){
	div > .home-version-8-contact.radiant-contact-form .form-row {
	margin-top: 1px;
	margin-right: 5px;
	margin-bottom: 1px;
	margin-left: 5px;
}
div > .home-version-8-contact.radiant-contact-form .form-row input[type="url"], 
div > .home-version-8-contact.radiant-contact-form .form-row input[type="email"], 
div > .home-version-8-contact.radiant-contact-form .form-row input[type="submit"]{
 width: 100%;
height: 60px;
}
div > .home-version-8-contact.radiant-contact-form .form-row input[type="submit"]{
	border-radius: 35px;
	width: 100%;
	margin-left: 0;
}
div > .home-version-8-contact.radiant-contact-form .form-row input[type="email"]{
	border-left:none;
	border-radius: 35px;
}
div > .home-version-8-contact.radiant-contact-form .form-row input[type="url"]{
border-radius: 35px;
}
.web-marketing{
	float: none;
	width: auto;
	margin-right:0;
}
}
/* SMART PHONE LANDSCAPE PART */
@media screen and (min-width:321px) and (max-width:479px){
	div > .home-version-8-contact.radiant-contact-form .form-row {
	margin-top: 1px;
	margin-right: 5px;
	margin-bottom: 1px;
	margin-left: 5px;
}
div > .home-version-8-contact.radiant-contact-form .form-row input[type="url"], 
div > .home-version-8-contact.radiant-contact-form .form-row input[type="email"], 
div > .home-version-8-contact.radiant-contact-form .form-row input[type="submit"]{
 width: 100%;
height: 60px;
}
div > .home-version-8-contact.radiant-contact-form .form-row input[type="submit"]{
	border-radius: 35px;
	width: 100%;
	margin-left: 0;
}
div > .home-version-8-contact.radiant-contact-form .form-row input[type="email"]{
	border-left:none;
	border-radius: 35px;
}
div > .home-version-8-contact.radiant-contact-form .form-row input[type="url"]{
border-radius: 35px;
}
.web-marketing{
	float: none;
	width: auto;
	margin-right:0;
}
}
/* SMART PHONE PROTRAIT PART */
@media screen and (max-width:320px){
	div > .home-version-8-contact.radiant-contact-form .form-row {
	margin-top: 1px;
	margin-right: 5px;
	margin-bottom: 1px;
	margin-left: 5px;
}
div > .home-version-8-contact.radiant-contact-form .form-row input[type="url"], 
div > .home-version-8-contact.radiant-contact-form .form-row input[type="email"], 
div > .home-version-8-contact.radiant-contact-form .form-row input[type="submit"]{
 width: 100%;
height: 60px;
}
div > .home-version-8-contact.radiant-contact-form .form-row input[type="submit"]{
	border-radius: 35px;
	width: 100%;
	margin-left: 0;
}
div > .home-version-8-contact.radiant-contact-form .form-row input[type="email"]{
	border-left:none;
	border-radius: 35px;
}
div > .home-version-8-contact.radiant-contact-form .form-row input[type="url"]{
border-radius: 35px;
}
.web-marketing{
	float: none;
	width: auto;
	margin-right:0;
}
}


/* ================== */
/* START OF HOME VERSION 8 PAGE  */
/* ================== */

/* ================== */
/* START OF HOME VERSION 11 PAGE  */
/* ================== */

body.page-id-3122 .wraper_header.style-twelve{
    box-shadow:0px 0px 10px rgba(0,0,0,0.1);
}

body.page-id-3122 .wraper_header.style-twelve .wraper_header_top{
    background-color:#1a1057;
}

body.page-id-3122 .wraper_header.style-twelve .header_main_action_buttons .btn.btn-one,
body.page-id-3122 .wraper_header.style-twelve .header_main_action ul > li.header-cart-bar > .header-cart-bar-icon .cart-count,
body.page-id-3122 .wraper_header.style-twelve .nav > [class*='menu-'] > ul.menu > li > a:before{
    background:linear-gradient(to right, #fe576b 0%, #ff9b66 100%);
    border:none;
}

.home-eleven-case-studies-slider .rt-case-studies-slider.element-one .owl-dots > .owl-dot.active > span,
.home-eleven-case-studies-slider .rt-case-studies-slider.element-two .owl-dots > .owl-dot.active > span{
    background:linear-gradient(to right, #fe576b 0%, #ff9b66 100%);
}

.home-eleven-seo-checker-form .form-row{
    margin:0 !important;
}

.home-eleven-seo-checker-form ::-webkit-input-placeholder{
  color:#fff;
}

.home-eleven-seo-checker-form ::-moz-placeholder{
  color:#fff;
}

.home-eleven-seo-checker-form :-ms-input-placeholder{
  color:#fff;
}

.home-eleven-seo-checker-form :-moz-placeholder{
  color:#fff;
}

.home-eleven-seo-checker-form .form-row input[type=submit]{
    width:100%;
    padding-left:10px !important;
    padding-right:10px !important;
    border-radius:0 !important;
}

/* ================== */
/* END OF HOME VERSION 11 PAGE  */
/* ================== */

/* ================== */
/* START OF HOME VERSION 12 PAGE  */
/* ================== */

body.page-id-3228 .wraper_header.style-twelve{
    box-shadow:0px 0px 10px rgba(0,0,0,0.1);
}

body.page-id-3228 .wraper_header.style-twelve .wraper_header_top{
    background-color:#032e6b;
}

body.page-id-3228 .wraper_header.style-twelve .header_main_action_buttons .btn.btn-one,
body.page-id-3228 .wraper_header.style-twelve .header_main_action ul > li.header-cart-bar > .header-cart-bar-icon .cart-count,
body.page-id-3228 .wraper_header.style-twelve .nav > [class*='menu-'] > ul.menu > li > a:before{
    background:linear-gradient(to right, #ff6271 0%, #fc8a95 100%);
    border:none;
}

.home-twelve-case-studies-slider .rt-case-studies-slider.element-one .owl-dots > .owl-dot.active > span,
.home-twelve-case-studies-slider .rt-case-studies-slider.element-two .owl-dots > .owl-dot.active > span{
    background:linear-gradient(to right, #ff6271 0%, #fc8a95 100%);
}

/* ================== */
/* END OF HOME VERSION 12 PAGE  */
/* ================== */

.is-sticky .brand-logo {
	display: block !important;
}
.rt-mega-menu {
	width: 700px;
	padding-right: 0;
	padding-left: 0;
	background-color: #fff;
	box-shadow: 0px 3px 15px rgba(0, 0, 0, 0.15);
	text-align: left;
	overflow-y: scroll !important;
	max-height: 500px !important;
}

.rt-mega-menu::-webkit-scrollbar {
	width: 3px;
	background: #fff;
}

.rt-mega-menu::-webkit-scrollbar-thumb {
	background: #fff;
	border-radius: 0px;
}

.rt-mega-menu::-webkit-scrollbar-thumb:hover {
	background: #fff;
}
.vertical-align-top{
    vertical-align:top;
}
/* ================== */
/* START OF HOME VERSION 16 PAGE  */
/* ================== */

.home-16-hover-box .vc_column-inner{
    box-shadow: 0px 12px 33px rgb(14,49,178,0.1);
}
div.home-16-position{
    position:relative;
    margin-top:-174px !important;
}
div .home-16-image-text {
    background-position: 0 7px !important;
}
.home-16-image-text h3{
    font-size: 20px;
    line-height: 30px;
    padding:0 0 10px 0;
}
.home-16-hover-box-2{
     box-shadow:0 14px 40px rgba(12,50,192,0.1);
}
.text-color-white{
    color:#fff !important;
}
.text-color-white h3{
  color:#fff !important;  
}
.text-color-white p{
  color:#fff !important;  
}
.home-16-testi .testimonial-pic {
    width: 150px !important;
}
.home-16-testi .testimonial-data blockquote p{
	color: #000 !important;
}
.home-16-testi .testimonial-data .title{
	color: #000 !important;
}
.home-16-testi .testimonial-data .designation{
	color: #000 !important;
}
div.home-16-background-position-center-bottom {
    background-position: center 105px !important;
}
.text-align-center .vc_column-inner {
    text-align: center;
}
.home-16-subscribe {
    position: relative;
    bottom: -41px;
}
.page-id-5290 .wraper_header.style-one .header_main_action ul > li.header-cart-bar > .header-cart-bar-icon .cart-count{
        background-color: #ff4834;
}
.page-id-5290 .footer_copyright_item p a {
    color: #ff4834;
}
.page-id-5290  .radiantthemes-accordion.element-four .radiantthemes-accordion-item>.radiantthemes-accordion-item-title>.panel-title>.panel-title-counter{
     display:none;
 }
 .home-16-team .pic{
     overflow:hidden;
         border-radius: 5px;
 }
 .home-16-team .pic-main {
    border-radius: 5px;
    transition: all 0.6s ease-in-out;
    -webkit-transition: all 0.6s ease-in-out;
}
.home-16-team .holder:hover .pic-main{
    transform: scale(1.1);
    border-radius: 5px;
}
.home-16-team .data{
   border-radius: 5px; 
}
.home-16-team .team-item>.holder {
    border-radius: 5px;
    
}
.home-16-team .holder:hover{
        box-shadow: none !important;
}
.home-16-team .data .title{
    font-size: 20px !important;
    color: #212d31;
    line-height: 30px !important;
    padding-bottom: 10px;
}
.home-16-team .data .designation{
    font-size: 15px !important;
    color: #212d31;
    line-height: 26px !important;
        padding-bottom: 5px;
}
.team.element-seven .team-item .holder .data .socal-section{
    padding: 0;
    margin: 0;
    text-align: center;
}
.team.element-seven .team-item .holder .data .socal-section ul{
    padding: 0;
    margin: 0;
    list-style: none;
}
.team.element-seven .team-item .holder .data .socal-section ul li{
    padding: 0;
    margin: 0 10px;
    display: inline-block;
}
.team.element-seven .team-item .holder .data .socal-section ul li a{
color: #212d31;
}
/* ================== */
/* END OF HOME VERSION 16 PAGE  */
/* ================== */

/* ================== */
/* START OF HOME VERSION 17 PAGE  */
/* ================== */
div .home-17-position{
    margin-top:-70px !important;
    position:relative;
}
div .home-17-background-position {
    background-position: 500px 0px !important;
}
.gradient-text {
    background: -webkit-linear-gradient(left, #0c32c0 , #dd474b,#dd474b);
   background: -o-linear-gradient(right, #0c32c0, #dd474b,#dd474b);
   background: -moz-linear-gradient(right, #0c32c0, #dd474b,#dd474b);
   background: linear-gradient(to right, #0c32c0, #dd474b,#dd474b);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
div .home-17-image-text {
    background-position: 0 0 !important;
}
.home-17-image-text h3{
    font-size: 20px;
    line-height: 30px;
    padding:15px 0 10px 0;
}
.home-17-counter {
    font-family: 'Poppins';
        font-weight: 600;
}
.home-17-box-position {
    position: relative;
    top: 90px;
}
.home-17-team.team.element-seven .team-item {
    padding: 20px 10px 20px 10px;
}
.home-17-team.team.element-seven .team-item>.holder .pic {
    background: #fff;
}
.home-17-team.team.element-seven .team-item>.holder:hover .pic {
    background: #fff;
}
.home-17-team.team.element-seven .team-item>.holder>.data .title{
    color:#fff;
    font-size:20px;
    line-height:30px;
}
.home-17-team.team.element-seven .team-item>.holder>.data .designation {
    margin-bottom: 7px;
    font-weight: 400;
    font-size: 15px;
    color: #d9def1;
    line-height: 25px;
}
.page-id-5504 .wraper_footer.style-six {
background: rgb(18,34,93); /* Old browsers */
background: -moz-linear-gradient(left,  rgba(18,34,93,1) 0%, rgba(12,50,192,1) 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(left,  rgba(18,34,93,1) 0%,rgba(12,50,192,1) 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to right,  rgba(18,34,93,1) 0%,rgba(12,50,192,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#12225d', endColorstr='#0c32c0',GradientType=1 ); /* IE6-9 */
}



@media screen and (min-width:1920px){
div .home-17-background-position {
    background-position: right 0px !important;
}
}

/* DESKTOP PART */
@media screen and (min-width:992px) and (max-width:1199px){
   .wraper_header.style-five-a .nav > [class*='menu-'] > ul.menu > li {
    margin-right: 23px;
}
div .home-17-position {
    margin-top: -89px !important;

}

div .responsie-tab .vc_figure{
    width: 100%;
}
div .vc_custom_1610529914440{
    background-image:none !important;
}
div.home-16-background-position-center-bottom {
    background-size: 100% !important;
}
div .vc_custom_1610605605949{
    background-image:none !important;
}
div .home-16-responsive-2 {
    padding-top: 50px !important;
}
div .home-16-responsive-4 {
    padding-top: 0 !important;
    padding-bottom: 80px !important;
}
.responsie-tab-2{
    width:100% !important;
}
.home-17-left-cercle:before{
    display:none;
}
div .home-17-left-cercle {
        padding-top: 50px !important;
    margin-top: -72px !important;
}
div .vc_custom_1610612725367 {
    margin-top: 0 !important;
}
div .tab-spacer {
    padding-top: 70px !important;
        padding-bottom: 10px !important;
}
div .vc_custom_1610523880153{
   background-image:none !important; 
}
div .vc_custom_1609158543940 {
    margin-top: -128px !important;
}
.home-17-team {
    margin-top: 63px;
}
div .responsive-spacer-5 {
    background-size: 90% !important;
}
}
/* TABLET LANDSCAPE PART */
@media screen and (min-width:768px) and (max-width:991px){
    .home-17-left-cercle:before {
    left: 0;
    bottom: 61% !important;
    background-size: 50% !important;
}
   .home-17-border div {
    background-size: 101% !important;
}
.home-17-border-3rd div {
    background-size: 119% !important;
}
.home-17-image-text h3 {
    font-size: 17px;
    line-height: 30px;
    padding: 15px 0 10px 0;
}
.home-17-image-text p {
    font-size: 13px;
}
div .home-17-position {
    margin-top: -121px !important;

}
.responsive-spacer div {
    padding-top: 0 !important;
}
.page-id-5290  .radiantthemes-accordion.element-four .radiantthemes-accordion-item>.radiantthemes-accordion-item-title>.panel-title>.panel-title-counter{
     display:none;
 }
 div.home-16-position {
    margin-top: -78px !important;
}
div.home-16-background-position-center-bottom {
    background-size: 100% !important;
}
div .responsie-tab {
    width: 100%;
}
div .vc_custom_1610529914440{
    background-image:none !important;
}
div .vc_custom_1610605605949{
    background-image:none !important;
}
div .home-16-responsive-2 {
    padding-top: 30px !important;
}
div .home-16-responsive-4 {
    padding-top: 0 !important;
    padding-bottom: 80px !important;
}
div .home-16-responsive-4 .vc_column-inner.vc_custom_1610606554522 {
    padding-top: 0 !important;
}
div .home-16-responsive-1 .vc_custom_1608616405565 {
    padding-top: 0 !important;
    padding-bottom: 50px !important;
    padding-left: 15px;
    padding-right: 15px;
}
div .responsive-ten{
   padding-top: 70px !important;
    padding-bottom: 50px !important; 
}
.header_main .brand-logo img {
    max-width: 80%;
}
.home-17-left-cercle:before{
    display:none;
}
.home-17-left-cercle {
    padding-top: 50px !important;
}
div .vc_custom_1610612725367 {
    margin-top: 0 !important;
}
div .tab-spacer {
    padding-top: 70px !important;
        padding-bottom: 10px !important;
}
div .vc_custom_1610523880153{
   background-image:none !important; 
}
div .vc_custom_1609158543940 {
    margin-top: -128px !important;
}
.header_main .brand-logo > .brand-logo-table > .brand-logo-table-cell {
    text-align: left;
}

}

/* TABLET PROTRAIT PART */
@media screen and (min-width:480px) and (max-width:767px){
     div .home-17-background-position {
    background-position: 129px 0px !important;
}
div .vc_custom_1608973363656 {
    margin-top: 0px !important;
    padding-top: 0px !important;
}
div .vc_custom_1608637578645 {
    margin-top: 0px !important;
    padding-top: 0px !important;
    padding-bottom: 0px !important;
  
}
div .vc_custom_1608788648425 {
    margin-top: 40px !important;
}
.page-id-5504 .display-inline-block {
    display: block;
    margin-bottom: 7px !important;
}
div .vc_custom_1608638669589 {
    background-size: cover !important;
}
div .vc_custom_1608791649379 {
    padding-top: 50px !important;
    padding-bottom: 50px !important;
}
.home-17-box-position {
    top: 0 !important;
}
.home-17-border:after{
    display:none;
}
.home-17-border-3rd:after{
   display:none; 
}
.wraper_header.style-five-a .header_main .brand-logo {
    max-width: 153px !important;
}
.home-17-left-cercle:before{
    display:none;
}
.home-16-hover-box {
    padding-left: 30px !important;
    padding-right: 30px !important;
}
.responsive-bot a {
    float: left;
}
div .responsive-spacer{
    padding-top: 0px !important;
}
div .responsive-spacer div {
    padding-top: 5px !important;
    padding-bottom: 6px !important;
}
.responsive-spacer-2 {
    margin-top: -36px;
}
div .responsive-spacer-3 {
    margin-top: -59px !important;
}
div .responsive-spacer-4 {
    margin-top: -131px !important;
}
div .responsive-spacer-5 {
    margin-top: -50px !important;
}
div .home-16-responsive-1{
    padding-top:80px !important;
    background: none !important;
}
div .home-16-responsive-1 .vc_custom_1608616405565 {
    padding-bottom: 74px !important;
}
div .home-16-responsive-2{
    padding-top:40px !important;
}
div .home-16-responsive-2 .vc_column-inner.vc_custom_1609160301750 {
    padding-top: 0 !important;
}
div .home-16-responsive-3 .vc_column-inner {
    padding-top: 10px !important;
}
div .home-16-responsive-4 .vc_column-inner {
    padding-top: 20px !important;
}
 .page-id-5290  .radiantthemes-accordion.element-four .radiantthemes-accordion-item>.radiantthemes-accordion-item-title>.panel-title>.panel-title-counter{
     display:none;
 }
div .home-16-responsive-5{
margin-top:-5px !important;
 padding-top: 80px !important;
 padding-bottom:0px !important;
}
.home-17-box-position-right .form-row {
    margin-left: 0 !important;
    margin-right: 0 !important;
}
.home-16-responsie-form .vc_column-inner {
    padding-left: 15px !important;
}
.home-16-subscribe .form-row {
    margin-left: 0 !important;
    margin-right: 0 !important;
}
div .vc_custom_1609148274221 {
    padding-bottom: 5px !important;
}
}

/* SMART PHONE LANDSCAPE PART */
@media screen and (min-width:321px) and (max-width:479px){
        div .home-17-background-position {
    background-position: 129px 0px !important;
}
div .vc_custom_1608973363656 {
    margin-top: 0px !important;
    padding-top: 0px !important;
}
div .vc_custom_1608637578645 {
    margin-top: 0px !important;
    padding-top: 0px !important;
    padding-bottom: 0px !important;
  
}
div .vc_custom_1608788648425 {
    margin-top: 40px !important;
}
.page-id-5504 .display-inline-block {
    display: block;
    margin-bottom: 7px !important;
}
div .vc_custom_1608638669589 {
    background-size: cover !important;
}
div .vc_custom_1608791649379 {
    padding-top: 70px !important;
    padding-bottom: 20px !important;
}
.home-17-box-position {
    top: 0 !important;
}
.home-17-border:after{
    display:none;
}
.home-17-border-3rd:after{
   display:none; 
}
.wraper_header.style-five-a .header_main .brand-logo {
    max-width: 153px !important;
}
.home-17-left-cercle:before{
    display:none;
}
.home-16-hover-box {
    padding-left: 30px !important;
    padding-right: 30px !important;
}
.responsive-bot a {
    float: left;
}
div .responsive-spacer{
    padding-top: 0px !important;
}
div .responsive-spacer div {
    padding-top: 5px !important;
    padding-bottom: 6px !important;
}
.responsive-spacer-2 {
    margin-top: -36px;
}
div .responsive-spacer-3 {
    margin-top: -59px !important;
}
div .responsive-spacer-4 {
    margin-top: -131px !important;
}
div .responsive-spacer-5 {
    margin-top: -50px !important;
}
div .responsive-spacer-6 div{
    margin-top: -6px !important;
}
div .home-16-responsive-1{
    padding-top:80px !important;
    background: none !important;
}
div .home-16-responsive-1 .vc_custom_1608616405565 {
    padding-bottom: 74px !important;
}
div .home-16-responsive-2{
    padding-top:40px !important;
}
div .home-16-responsive-2 .vc_column-inner.vc_custom_1609160301750 {
    padding-top: 0 !important;
}
div .home-16-responsive-3 .vc_column-inner {
    padding-top: 10px !important;
}
div .home-16-responsive-4 .vc_column-inner {
    padding-top: 20px !important;
}
 .page-id-5290  .radiantthemes-accordion.element-four .radiantthemes-accordion-item>.radiantthemes-accordion-item-title>.panel-title>.panel-title-counter{
     display:none;
 }
div .home-16-responsive-5{
margin-top:-5px !important;
 padding-top: 80px !important;
 padding-bottom:0px !important;
}
.home-17-box-position-right .form-row {
    margin-left: 0 !important;
    margin-right: 0 !important;
}
#wpcf7-f5705-p5290-o1 input.wpcf7-form-control.wpcf7-submit.btn {
    width: 100%;
}
.home-16-responsie-form .vc_column-inner {
    padding-left: 15px !important;
}
.home-16-subscribe .form-row {
    margin-left: 0 !important;
    margin-right: 0 !important;
}
div .vc_custom_1609148274221 {
    padding-bottom: 5px !important;
}
div .home-17-form-res {
    padding-left: 0 !important;
    padding-right: 0 !important;
    padding-bottom: 45px !important;
}
}

/* SMART PHONE PROTRAIT PART */
@media screen and (max-width:320px){ 
    div .responsive-spacer-6 div {
    margin-top: -6px !important;
}
    div .home-17-background-position {
    background-position: 85px 0px !important;
}
div .vc_custom_1608973363656 {
    margin-top: 0px !important;
    padding-top: 0px !important;
}
div .vc_custom_1608637578645 {
    margin-top: 0px !important;
    padding-top: 0px !important;
    padding-bottom: 0px !important;
  
}
div .vc_custom_1608788648425 {
    margin-top: 0px !important;
}
.page-id-5504 .display-inline-block {
    display: block;
    margin-bottom: 7px !important;
}
div .vc_custom_1608638669589 {
    background-size: cover !important;
}
div .vc_custom_1608791649379 {
    padding-top: 70px !important;
    padding-bottom: 20px !important;
}
.home-17-box-position {
    top: 0 !important;
}
.home-17-border:after{
    display:none;
}
.home-17-border-3rd:after{
   display:none; 
}
.wraper_header.style-five-a .header_main .brand-logo {
    max-width: 153px !important;
}
.home-17-left-cercle:before{
    display:none;
}
.home-16-hover-box {
    padding-left: 30px !important;
    padding-right: 30px !important;
}
.responsive-bot a {
    float: left;
}
div .responsive-spacer{
    padding-top: 0px !important;
}
div .responsive-spacer div {
    padding-top: 5px !important;
    padding-bottom: 6px !important;
}
.responsive-spacer-2 {
    margin-top: -36px;
}
div .responsive-spacer-3 {
    margin-top: -59px !important;
}
div .responsive-spacer-4 {
    margin-top: -131px !important;
}
div .home-16-responsive-1{
    padding-top:80px !important;
    background: none !important;
}
div .home-16-responsive-1 .vc_custom_1608616405565 {
    padding-bottom: 74px !important;
}
div .home-16-responsive-2{
    padding-top:40px !important;
}
div .home-16-responsive-2 .vc_column-inner.vc_custom_1609160301750 {
    padding-top: 0 !important;
}
div .home-16-responsive-3 .vc_column-inner {
    padding-top: 10px !important;
}
div .home-16-responsive-4 .vc_column-inner {
    padding-top: 20px !important;
}
 .page-id-5290  .radiantthemes-accordion.element-four .radiantthemes-accordion-item>.radiantthemes-accordion-item-title>.panel-title>.panel-title-counter{
     display:none;
 }
div .home-16-responsive-5{
margin-top:-5px !important;
 padding-top: 80px !important;
 padding-bottom:0px !important;
}
.home-17-box-position-right .form-row {
    margin-left: 0 !important;
    margin-right: 0 !important;
}
#wpcf7-f5705-p5290-o1 input.wpcf7-form-control.wpcf7-submit.btn {
    width: 100%;
}
.home-16-responsie-form .vc_column-inner {
    padding-left: 15px !important;
}
.home-16-subscribe .form-row {
    margin-left: 0 !important;
    margin-right: 0 !important;
}
div .vc_custom_1609148274221 {
    padding-bottom: 5px !important;
}
div .home-17-form-res {
    padding-left: 0 !important;
    padding-right: 0 !important;
    padding-bottom: 45px !important;
}
div .vc_custom_1610523880153{
    background-image:none !important;
}
}
.home-17-border{
    position:relative;
    z-index:2;
}
.home-17-border:after {
    position: absolute;
    content: "";
    height: auto;
    width: 50%;
    bottom: 41%;
    left: 80%;
    border-bottom: 2px dashed #ff4934;
    z-index: 1;
    transform: rotate(20deg);
}
.home-17-border-3rd{
     position:relative;
    z-index:2;
}
.home-17-border-3rd:after {
    position: absolute;
    content: "";
    height: auto;
    width: 50%;
    bottom: 60%;
    left: 78%;
    border-bottom: 2px dashed #ff4934;
    z-index: -1;
    transform: rotate(-20deg);
}
.page-id-5504 .footer_copyright_item p a{
    color:#ff4934;
}
/*HEADER STYLE FIVE A*/

body[data-header-style='header-style-five-a'] #hamburger-menu.right {
    right: -600px;
}
body[data-header-style='header-style-five-a'] #hamburger-menu {
    max-width: 600px;
}
.wraper_header.style-five-a .header_main .brand-logo {
    max-width: 200px;
}
.wraper_header.style-five-a .header_main_action ul > li i,
.wraper_header.style-five-a .header_main .responsive-nav i {
    font-size: 17px;
}
.wraper_header.style-five-a .header_main_action ul > li.header-cart-bar > .header-cart-bar-icon .cart-count, 
.wraper_header.style-five-a .nav > [class*='menu-'] > ul.menu > li > a:before {
    background-color: #ff4834;
}
.wraper_header.style-five-a .wraper_header_main {
    box-shadow: 0px 12px 33px rgb(14,49,178,0.1);
}
.wraper_header.style-five-a .header_main_action ul > li {
    margin-right: 20px !important;
}
.home-17-left-cercle:before {
    position: absolute;
    content: "";
    height: 60%;
    width: 30%;
    left: -63px;
    bottom: 67%;
    background: url(../../../uploads/2020/12/home-16-right-cercle.png) no-repeat;
}
.home-17-team .team-item .holder .data .socal-section ul li a{
    color:#fff !important;
}
/*HEADER STYLE FIVE A*/
/* ================== */
/* END OF HOME VERSION 17 PAGE  */
/* ================== */